.box {
    text-align: center;
    font-size: large;
    font-weight: 700;
    

}
.box1 {
    background-color: yellow;
    width: 500px;
    height: 500px;
    position: absolute;
    box-sizing: border-box;
    padding:40px;
    border: solid 2px;
    margin: auto;
}
.box2 {
    background-color: green;
    width: 300px;
    height: 300px;
    position: absolute;
    box-sizing: border-box;
    padding: 75px;
}
.box3 {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: absolute;
    border: dotted 20px;
}